<?xml version="1.0"?>
<ruleset name="Yoast SEO ACF Analysis">
	<description>Yoast SEO ACF Analysis Coding Standards</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	#############################################################################
	-->

	<file>.</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>languages/*</exclude-pattern>
	<exclude-pattern>tests/js/system/data/acf*\.php$</exclude-pattern><!-- Code exported from ACF. -->
	<exclude-pattern>tests/php/unit/Dependencies/acf\.php$</exclude-pattern><!-- ACF mock class. -->

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="ps"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultanously. -->
	<arg name="parallel" value="8"/>


	<!--
	#############################################################################
	USE THE YoastCS RULESET
	#############################################################################
	-->

	<rule ref="Yoast">
		<!-- Catches way too many things, like vars and file headers. -->
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>

		<!-- Namespacing hooks sound reasonable. -->
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores"/>

		<!-- Exclude WP filename rules for the time being. YoastCS 0.5 will solve this better. -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<rule ref="Squiz.Commenting">
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
	</rule>


	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<!-- Set the minimum supported WP version. This is used by several sniffs. -->
	<config name="minimum_supported_wp_version" value="4.6"/>

	<!-- Verify that all gettext calls use the correct text domain. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="acf-content-analysis-for-yoast-seo"/>
			</property>
		</properties>
	</rule>

</ruleset>
